body {
 min-height: 100vh;
 overflow: hidden;
 width: 100%;
 background-color: #eff1f5;
}

body::before {
 content: "";
 position: absolute;
 top: -10%;
 left: -10%;
 width: 110%;
 height: 110%;
 background-image: linear-gradient(to right, 
                                      #eff1f5 0%, #eff1f5 20%, 
                                      #303446 20%, #303446 40%, 
                                      #24273a 40%, #24273a 60%, 
                                      #1e1e2e 60%, #1e1e2e 80%, 
                                      #11111b 80%, #11111b 100%);
 background-size: 100% 100%;
 background-repeat: no-repeat;
 transform: skewX(-10deg);
 z-index: -1;
}
